<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="common/base:: head(~{::title},~{::link},~{::script})">
<!-- Bootstrap DualListBox CSS（左右多选列表框样式）-->
<link
	href="../vendor/bootstrap-duallistbox-3.0.6/dist/bootstrap-duallistbox.min.css"
	rel="stylesheet" type="text/css"
	th:href="@{/vendor/bootstrap-duallistbox-3.0.6/dist/bootstrap-duallistbox.min.css}" />
<title>[[#{aw.system.name}]]-系统设置-大客户设置</title>
<!-- Bootstrap DualListBox JS（左右多选列表框JS）-->
<script
	src="../vendor/bootstrap-duallistbox-3.0.6/dist/jquery.bootstrap-duallistbox.min.js"
	th:src="@{/vendor/bootstrap-duallistbox-3.0.6/dist/jquery.bootstrap-duallistbox.min.js}"></script>
<!-- 	本页使用的JS -->
<script type="text/javascript" th:inline="javascript">

	$(document).ready(function() {

        $('#customerSelect').bootstrapDualListbox({
            filterTextClear: '显示全部',
            filterPlaceHolder: '输入过滤内容',
            moveSelectedLabel: '选择所选项',
            moveAllLabel: '选择全部项',
            removeSelectedLabel: '取消所选项',
            removeAllLabel: '取消全部项',
            moveOnSelect: false,
            preserveSelectionOnMove: 'moved',
            selectedListLabel: '已选择',
            nonSelectedListLabel: '未选择',
            infoText: '全部{0}项',
            infoTextFiltered: '<span class="label label-warning">过滤结果为{0}项</span>,共{1}项',
            infoTextEmpty: '列表为空'
        });
        
	       $('#selectOrg').click(function() {
	     		var orgTreeJson;
	    		$.ajax({
	    	          type : "get", 
	    	          url : [[@{/api/common/org/getOrgTree/}]],
	    	          async : false,
	    	          success : function(data){
	    	        	  orgTreeJson =  data; 
	    	          }
	    	      }); 
	    		 console.log("getOrgTree:" + orgTreeJson);
	    	   $('#orgTreeview').treeview({
	               data: orgTreeJson,
	               onNodeSelected: function(event, node) {
	 	                $('#selectOrg').val(node.text);
	 	                $('#orgTreeview' ).hide(); 
	 	                //此处提交表单
	 	                
	 	               var userOperateForm = $('#customerSettingForm');
	 	              userOperateForm.attr('action', [[@{/settings/customerSetting/selectCustomerOrg}]]);
	 	              //console.log(userOperateForm.attr('action'));
	 	              //$('#userOperateForm input').val(ids);
	 	              //console.log('ids:' + $('#userOperateForm input').val());
	 	              $('#customerSettingForm').submit();
	 	                
	 	                
	 	              }
	             }); 
	    	   $('#orgTreeview').toggle();
	       });   
        
	});
</script>
</head>

<body>
	<div id="wrapper">
		<!-- Navigation -->
		<div th:include="common/headerAndMenu :: headerAndMenu"></div>

		<!-- Page Content -->
		<div id="page-wrapper">
			<div class="container-fluid">
				<!--路径导航-->
				<div class="row">
					<div class="col-md-12">
						<h3 class="page-header">
                            系统设置-大客户设置
                        </h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home fa-fw"></i>  <a href="index.html" th:href="@{/}">首页</a></li>
							<li><i class="fa fa-cogs fa-fw"></i> 系统设置</li>
							<li class="active"><i class="fa fa-cog fa-fw"></i> 大客户设置</li>
						</ol>
					</div>
				</div>
				<!--提示区-->
				<form action="#" method="POST" class="form-horizontal" role="form"
					id="customerSettingForm" th:action="@{/settings/customerSetting/selectCustomerOrg}"
					th:object="${customerSettingResult}">
					<!-- 成功提示 -->
					<div class="row" th:if="${success}">
						<div class="col-md-12">
							<div id="alertDialogeSuccess"
								class="alert alert-success alert-dismissible fade in"
								role="alert">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<p>设置机构成功！</p>
							</div>
						</div>
					</div>

					<!--工具栏-->
					<div class="row">
						<div class="col-md-12 ">
							<p>
								<a class="btn btn-default" href="userManage.html"
									th:href="@{/settings/customerSetting}"><i class="fa fa-reply fa-fw"></i> 返回</a>
							</p>
						</div>
					</div>
					
					<!--表单区-->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<input type="hidden" th:field=*{sysProvince.provinceNo}>
									<div class="form-group">
										<label class="col-md-2 control-label" >省：</label>
										<div class="col-md-3">
											<p th:text="*{sysProvince.provinceName}"></p>
										</div>
									</div>
									<div class="form-group">
									<label class="col-md-2 control-label" >所属机构：</label>
										<div class="col-md-3">
 													<input type="text" id="selectOrg" name="selectOrg" class="form-control"
														value="" placeholder="请选择机构" readonly="readonly" >
										</div>
									</div>
									<div class="form-group">
												<div class="col-sm-10 col-sm-offset-2" id="orgTreeview"
													style="display: none;"></div>
									</div>
									
									<div class="form-group">
										<label class="col-md-2 control-label">大客户：</label>
										<div class="col-md-10">
											<select multiple="multiple" size="10" id="customerSelect" name="selectedCustomerList" 
												class="form-control">
												<option th:each="customerSettingDefinition : *{customerSettingDefList}"
													th:value="${customerSettingDefinition.customerNo}"
													th:text="${customerSettingDefinition.customerName}" 
													th:selected="${customerSettingDefinition.isSelected} ? 'selected'"></option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-offset-2 col-md-10">
													<button id="saveBtn" type="submit" class="btn btn-primary">
														<i class="fa fa-check fa-fw"></i> 确定
													</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:include="common/footer :: footer"></div>
</body>

</html>
